name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - run: df -h
      - run: grep -r ^ /etc/apt*
      - run: ps aux
      - run: echo "$0"
      - uses: actions/checkout@v2
      - run: df -h
      - run: cat /proc/cpuinfo
      - run: ls -la
      - run: echo a > a
#      - run: git add a; git config --global user.name "Bot"; EMAIL=bot@invalid.invalid git commit -m x
      - run: git add a; GIT_COMMITTER_NAME=Bot GIT_AUTHOR_NAME=Bot EMAIL=bot@invalid.invalid git commit -m x
      - run: git push
